In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import csv
import os
import sys
import os
import tensorflow as tf
from utils import DKT
from load_data import DKTData
import tensorflow.compat.v1 as tf

In [2]:
train_path = './data/train.csv'
test_path = './data/test.csv'
save_dir_prefix = './dkt_models/assesstment/'

In [3]:
rnn_cells = {
    "LSTM": tf.compat.v1.nn.rnn_cell.LSTMCell,
    #"GRU": tf.contrib.rnn.GRUCell,
    #"BasicRNN": tf.contrib.rnn.BasicRNNCell,
    #"LayerNormBasicLSTM": tf.contrib.rnn.LayerNormBasicLSTMCell,
}

# train_path = os.path.join('./data/', 'skill_id_train.csv')
# test_path = os.path.join('./data/', 'skill_id_test.csv')

network_config = {}
network_config['batch_size'] = 64
network_config['hidden_layer_structure'] = [200]
network_config['learning_rate'] = 0.001
network_config['keep_prob'] = 0.5
network_config['rnn_cell'] = rnn_cells["LSTM"]


use_dktp = True

if use_dktp:
    network_config['lambda_o'] = 0.15
    network_config['lambda_w1'] = 0.3
    network_config['lambda_w2'] = 3.0
else:
    network_config['lambda_o'] = 0.0
    network_config['lambda_w1'] = 0.0
    network_config['lambda_w2'] = 0.0


num_runs = 1
num_epochs = 5
batch_size = 64
keep_prob = 0.5

In [4]:
sess = tf.compat.v1.Session()

data = DKTData(train_path, test_path, batch_size=batch_size)
data_train = data.train
data_test = data.test
num_problems = data.num_problems

dkt = DKT(sess, data_train, data_test, num_problems, network_config,
          num_runs=num_runs, num_epochs=num_epochs,
          save_dir_prefix=save_dir_prefix,
          keep_prob=keep_prob, logging=False, save=False)


# load the model
dkt.model.build_graph()
dkt.load_model()
#dkt.save_model()
#dkt.run_optimization()

Reading ./data/train.csv
9960 lines was read
max_num_problems_answered: 6157
num_problems: 110
The number of students is 3092
Finish reading data.
Reading ./data/test.csv
2493 lines was read
max_num_problems_answered: 1893
num_problems: 110
The number of students is 770
Finish reading data.
ckpt_save_dir:  ./dkt_models/assesstment/checkpoints\n200.lo0.15.lw10.3.lw23.0/
log_save_dir:  ./dkt_models/assesstment/logs\n200.lo0.15.lw10.3.lw23.0/
Network Configuration:
batch_size: 64
hidden_layer_structure: [200]
learning_rate: 0.001
keep_prob: 0.5
rnn_cell: <class 'keras.layers.rnn.legacy_cells.LSTMCell'>
lambda_o: 0.15
lambda_w1: 0.3
lambda_w2: 3.0
Num of problems: 110
Num of run: 1
Max num of run: 5
Keep Prob: 0.5
Creating placeholder...
Creating Loss...
WARNING:tensorflow:From C:\Users\FAST\Desktop\Assessment\GKT\model.py:69: dynamic_rnn (from tensorflow.python.ops.rnn) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `keras.layers.RNN(cell)`, which is equivalent to this API

C:\Users\FAST\Desktop\Assessment\GKT\model.py:67: UserWarning: `tf.nn.rnn_cell.LSTMCell` is deprecated and will be removed in a future version. This class is equivalent as `tf.keras.layers.LSTMCell`, and will be replaced by that in Tensorflow 2.0.
  cell = self.rnn_cell(num_units=layer_state_size)

WARNING:tensorflow:From C:\Users\FAST\anaconda3\lib\site-packages\keras\layers\rnn\legacy_cells.py:958: calling Zeros.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Creating Loss...
Create optimizer...
INFO:tensorflow:Restoring parameters from ./dkt_models/assesstment/checkpoints\n200.lo0.15.lw10.3.lw23.0/run_0\LSTM-200\LSTM-200

In [5]:
# dkt
_evaluation = True
if _evaluation:
    auc_n, auc_c, entropy_loss = dkt.evaluate()
    print('auc_n:', auc_n)
    print('auc_c:', auc_c)
    
    w1, w2 = dkt.waviness()
    print('w1:', w1)
    print('w2:', w2)
    
    m1, m2 = dkt.consistency()
    print('m1:', m1)
    print('m2:', m2)

auc_n: 0.8443805624274587
auc_c: 0.9079488291368988
w1: 0.004028704377516872
w2: 0.008973976682143257
m1: 0.29993923954669355
m2: 0.008055946316611674

### Convert output of DKT+ in dataframe for all users

In [5]:
# No of students in test data
problem_seqs_test = dkt.data_test.problem_seqs
correct_seqs_test = dkt.data_test.correct_seqs
targets = []
for i in range(len(problem_seqs_test)):
    num_question_answered = len(problem_seqs_test[i])
    question_ids_answered = sorted(set(problem_seqs_test[i]))
    num_distict_question = len(question_ids_answered)
    
    if num_question_answered and num_distict_question:
        targets.append(i)
    
print(targets)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769]

In [6]:
user = pd.DataFrame(targets, columns=['user_id'])

In [7]:
data = pd.DataFrame()

In [8]:
for i, sid in enumerate(targets):
    num_problem_answered = len(problem_seqs_test[sid])
    problems_ids_answered = sorted(set(problem_seqs_test[sid]))
    num_distict_question = len(question_ids_answered)

    problem_seq = problem_seqs_test[sid][:num_problem_answered]
    correct_seq = correct_seqs_test[sid][:num_problem_answered]
    output_dkt = dkt.get_output_layer([problem_seq], [correct_seq])[0]
    df = np.mean(output_dkt, axis=0)
    data = data.append(pd.DataFrame(df).T)
    #Pred_output = pd.DataFrame(df)
    #df2 = np.array(df)
#     print(df)
#     print(len(df))
#     print()

In [9]:
data['user_id'] = range(1, len(data) + 1)
result = user.merge(data, on=['user_id'], how = 'right')
result

,user_id,0,1,2,3,4,5,6,7,8,...,100,101,102,103,104,105,106,107,108,109
0,1,0.440258,0.484461,0.515138,0.482546,0.522890,0.479763,0.539160,0.521286,0.468828,...,0.483508,0.524866,0.488741,0.542499,0.524116,0.477984,0.494100,0.485301,0.478919,0.488146
1,2,0.516470,0.429483,0.514307,0.488310,0.534741,0.493384,0.594713,0.619147,0.543493,...,0.483995,0.527295,0.464714,0.542664,0.490956,0.478095,0.485372,0.488579,0.529569,0.492181
2,3,0.441292,0.468866,0.507136,0.481147,0.541685,0.498979,0.580628,0.540283,0.516072,...,0.476590,0.525102,0.476888,0.542342,0.510470,0.477999,0.493930,0.486011,0.488280,0.497729
3,4,0.288617,0.431218,0.557278,0.469190,0.536011,0.435551,0.381214,0.334800,0.251303,...,0.475430,0.513995,0.579841,0.542981,0.616493,0.477836,0.480973,0.479297,0.430315,0.476100
4,5,0.377054,0.429550,0.518129,0.491288,0.500043,0.464549,0.487684,0.452971,0.390503,...,0.490025,0.524585,0.524758,0.542549,0.574788,0.477874,0.510489,0.481961,0.469246,0.492917
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
765,766,0.076775,0.521374,0.566283,0.524034,0.636114,0.489693,0.549458,0.475594,0.417036,...,0.491313,0.527635,0.483053,0.542633,0.522641,0.477823,0.514663,0.489000,0.445568,0.512957
766,767,0.452198,0.489480,0.516667,0.483642,0.531080,0.485658,0.559281,0.526625,0.485363,...,0.482187,0.523920,0.478270,0.542477,0.508479,0.478062,0.497220,0.485720,0.483081,0.487887
767,768,0.429328,0.469597,0.521006,0.495287,0.531202,0.498415,0.553683,0.488523,0.460850,...,0.485006,0.524641,0.498195,0.542515,0.549356,0.477774,0.556115,0.482623,0.496197,0.492767
768,769,0.474810,0.484122,0.519625,0.482271,0.509384,0.496578,0.553801,0.521644,0.486358,...,0.481345,0.519336,0.489552,0.542392,0.527014,0.478056,0.505887,0.484896,0.488742,0.498617
769,770,0.448000,0.488750,0.525177,0.485227,0.521695,0.474159,0.545094,0.537772,0.487450,...,0.487784,0.528097,0.493275,0.542416,0.511278,0.477917,0.501171,0.485867,0.482110,0.496344

In [10]:
melt = result.melt(id_vars="user_id", var_name="skill_id").sort_values("user_id").rename(columns = {'value': 'pedicted'})
melt

       user_id skill_id  pedicted
0            1        0  0.440258
54670        1       71  0.477923
53900        1       70  0.499458
53130        1       69  0.547363
52360        1       68  0.493283
...        ...      ...       ...
60059      770       77  0.546676
60829      770       78  0.493791
61599      770       79  0.452152
53129      770       68  0.489677
84699      770      109  0.496344

[84700 rows x 3 columns]

In [31]:
select_rows = melt.loc[(melt['user_id'] == 1)]
 #                          & (df2['UserId'] == 0)]
select_rows

       user_id skill_id  pedicted
0            1        0  0.440258
54670        1       71  0.477923
53900        1       70  0.499458
53130        1       69  0.547363
52360        1       68  0.493283
...        ...      ...       ...
23870        1       31  0.542586
30030        1       39  0.544483
72380        1       94  0.471533
40040        1       52  0.516612
6930         1        9  0.488612

[110 rows x 3 columns]

In [12]:
melt.skill_id.nunique()

110

In [11]:
melt.to_csv('./data/lstm_data.csv')

In [25]:
skill = pd.read_csv('./data/skill_data.csv')
skill.nunique()

Unnamed: 0    446844
user_id         4151
skill_id         110
skill_name       110
correct            2
dtype: int64

In [27]:
skill1 = skill[['skill_id', 'skill_name']]

In [18]:
skill['user_id'] = skill['user_id'].astype('category').cat.codes

In [19]:
skill.to_csv('./data/skill1_data.csv')

In [28]:
final = pd.merge(melt, skill1, on=['skill_id'])
#final[['User_id', 'Skill_id', 'Skill', 'Predicted']]

In [30]:
final.nunique()

user_id         770
skill_id        110
pedicted      79776
skill_name      110
dtype: int64

In [33]:
final.to_csv('./data/skill1_data.csv')

In [ ]:
import seaborn as sns
sns.displot(test1["Predicted"])

In [ ]:
def levels(row):  
    if row['Predicted'] > 0.2 and row['Predicted'] <= 0.5:
        return 'b'
    elif row['Predicted'] > 0.5 and row['Predicted'] <= 0.7:
        return 'i'
    elif row['Predicted'] > 0.7 and row['Predicted'] <= 1:
        return 'm'

In [ ]:
Final['Difficulty_level'] = Final.apply(lambda row: levels(row), axis=1)